{% extends "layout.html" %}

{% block content %}
<div class="list-group">




</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Authorization Code Grant
      </div>
      <div class="card-body">
{% markdown %}
##### Request to `/authorize`
* `response_type=code`
* `client_id=xxxxxx`
* `redirect_uri=xxxxxxx`
* `scope=xxxxxxx`
* `state=xxxxxxx`

After success, the authorizzation server will redirect you back to `redirect_uri` with `code` and `state` query.

##### Post to `/token`
Set header `Authorization: Basic {client_id}:{client_secret}` and `Content-Type: application/x-www-form-urlencoded`.

* `grant_type=authorization_code`
* `code=xxxxx`
* `redirect_uri`

{% endmarkdown %}
        <a href="/authorization" class="btn btn-primary">Try</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        PKCE for Native App
      </div>
      <div class="card-body">
{% markdown %}
##### Request to `/authorize`
* `response_type=code`
* `client_id=xxxxxx`
* `redirect_uri=xxxxxxx`
* `scope=xxxxxxx`
* `state=xxxxxxx`
* `code_challenge=xxxxxxxxxxx`
* `code_challenge_method=plain | S256`

##### Generate `code_challenge`:
he client first creates a `code_verifier` for each OAuth 2.0 Authorization Request, in the following manner:
```
code_verifier = random string using A-Za-z0-9-._~
```

minimum length of 43 characters and max length of 128 characters.

You can use a random number generator to create a 32-octet sequence. The octet sequence is then base64url-encoded to produce a 43-octet URL safe string to use as the `code_verifier`.

NOTE: base64url is not base64. See `utils/pkce.js` for details.

The client then creates a `code_challenge` derived from `code_verifier` by using one of the following transformation on the code verifier:

* `plain` code_challenge = code_verifier
* `S256` code_challenge = BASE64URL-ENCODE(SHA256(ACSII(code_verifier)))

This is how you do it in Node.js:
1. Use `crypto.randomBytes()` to generate 32 bytes buffer;
2. Base64url encode the buffer to string of length 43. This is the `code_verifier`;
3. Use `crypto.createHash('sha256')` to create a hash of the above string. You get a buffer of 32 bytes.
4. Base64url encode the buffer to a string of length 43. This is the `code_challenge`.

##### Authorization Code Exchange

Post to `/token` with header `Authorization: Basic {client_id}:{client_secret}`
* `grant_type=authorization_code`
* `code`
* `redirect_uri`
* `client_id`
* `code_verifier`

{% endmarkdown %}

        <a href="/pkce/authorize" class="btn btn-primary">Try</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Client Credentials Grant
      </div>
      <div class="card-body">
{% markdown %}
#### Post directly to `/token` endpoint

* `grant_type=client_credentials`
* `scope` optional

```
POST /token HTTP/1.1
Host: server.example.com
Authorization: Basic czZCaGRSa3F0MzpnWDFmQmF0M2JW
Content-Type: application/x-www-form-urlencoded

grant_type=client_credentials
```

{% endmarkdown%}
        <a href="/client-credentials" class="btn btn-primary">Try</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Implicit Grant
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary" id="implicit-grant">Try</button>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        JSON Web Token
      </div>
      <div class="card-body">
        <a href="/jwt" class="btn btn-primary">Try</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Github OAuth Apps
      </div>
      <div class="card-body">
        <a href="/github/authorize" class="btn btn-primary">Try</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
