{% extends "layout.html" %}

{% block content %}
<div class="list-group">




</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Authorization Code Grant
      </div>
      <div class="card-body">
        {% markdown %}
        ##### Request to `/authorize`
        * `response_type=code`
        * `client_id=xxxxxx`
        * `redirect_uri=xxxxxxx`
        * `scope=xxxxxxx`
        * `state=xxxxxxx`

        After success, the authorizzation server will redirect you back to `redirect_uri` with `code` and `state` query.

        ##### Post to `/token`
        Authorization: Basic {client_id}:{client_secret}
        * `grant_type=authorization_code`
        * `code=xxxxx`
        * `redirect_uri`
        {% endmarkdown %}
        <a href="/authorization" class="btn btn-primary">Try</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Implicit Grant
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary" id="implicit-grant">Try</button>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        JSON Web Token
      </div>
      <div class="card-body">
        <a href="/jwt" class="btn btn-primary">Try</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Github OAuth Apps
      </div>
      <div class="card-body">
        <a href="/github/authorize" class="btn btn-primary">Try</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
